@import url("https://fonts.googleapis.com/css?family=Roboto:300light,400regular,700bold");

/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

.navbar {
    height: 55px;
    display: flex;
}

.navbar-item {
    text-decoration: none;
    padding: 0 35px;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item:hover {
    background-color: #48418e;
    color: white;
}

.active {
    text-transform: uppercase;
    font-weight: bold;
}

.banner {
    background-image: url("./images/pozadi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
}

.banner .title,
.banner .subtitle {
    color: white;
}

.banner .title {
    font-size: 65pt;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.banner .subtitle {
    font-size: 30pt;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 4rem;
}


.button {
    padding: 1.2rem 2rem;
    border: 1px solid white;
    border-radius: .3rem;
    color: white;
    font-size: 13pt;
    box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.2);
}

.button.primary {
    background-color: #48418e;
}

.button.primary:hover {
    background-color: transparent;
    border: 1px solid gray;
}

.button.secondary {
    background-color: transparent;
    margin-left: 1.5rem;
}

.button.secondary:hover {
    background-color: #48418e;
    border: 1px solid #48418e;
}

.phone {
    position: absolute;
    right: 0;
    bottom: 0;
}

.columns {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.icon {
    width: 70px;
    margin-bottom: 1rem;
}

.column .title {
    color: #48418e;
    font-weight: bold;
    font-size: 16pt;
}

.footer {
    background-color: #48418e;
    color: rgba(255,255,255,.7);
    display: flex;
    justify-content: center;
    padding: .5rem 0;
    font-size: 10pt;
}

@media(max-width: 960px) {
    .obal {
        width: 100%;
    }
}

@media(max-width: 910px) {
    .phone {
        display: none;
    }
}

@media(max-width: 500px) {
    .navbar {
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
    }

    .navbar-item {
        padding: .5rem;
    }

    .banner .title {
        font-size: 32pt;
        text-transform: capitalize;
        margin-bottom: .25rem;
    }

    .banner .subtitle {
        font-size: 15pt;
        font-weight: 300;
        line-height: normal;
        margin-bottom: .5rem;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .secondary {
        margin: 1rem 0 0 0 !important;
    }

    .columns {
        flex-direction: column;
    }

    .column {
        padding: .5rem;
    }
}